/* @font-face {
  font-family: 'Typo_Hoop_Regular_Demo';
  src: url('/fonts/Typo_Hoop_Regular_Demo.otf') format('opentype');
} */

/* @import url('https://fonts.googleapis.com/css?family=Josefin+Sans'); */

body {
  background-color: #4d4d4d;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  overflow-y: auto;
}

.wrapper .main-content {
  padding-top: 90px;
  position: relative;
}

.wrapper {
  height: 100%;
}

.box-shadowYoutube {
  box-shadow: 2px 2px 16px 3px #000000;
}

html,
body {
  height: 100%;
  font-family: 'Roboto Condensed', sans-serif;
}

.form-login {
  width: 380px;
  height: 550px;
  max-height: 600px;
  max-width: 380px;
  box-shadow: 1px 2px 18px 7px rgb(41, 41, 41);
  padding: 20px;
  color: rgb(255, 255, 255);
  background-color: rgb(128, 128, 128);
  border-radius: 2%;
}

.remember-me {
  display: inline-block;
}

div.invalid-feedback {
  color: #a50212;
}

.bg-login {
  background-color: rgb(77,77,77);
}

input.form-check-input {
  position: relative;
  left: 0;
  margin: 0;
  border: 1px black solid;
}

input.form-control {
  border: 1px black solid;
  border-radius: 0px;
}

input.form-check-input {
  margin-top: 8px;
  border-style: solid;
}

label.form-check-label {
  font-size: 80%;
}

.login {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-login {
  background-color: rgb(23, 152, 212);
  width: 35%;
  border-radius: 11px;
  box-shadow: 2px 2px 5px 0px rgb(41, 41, 41);
}

.search_bar {
  border: 1px solid #1f0104;
  border-radius: 14px;
  color: rgb(221, 220, 220);
  background-color: rgb(102, 102, 102);
  padding: 2px;
  outline: none;
  padding-left: 14px;
}

.search_bar::placeholder {
  color: rgb(161, 161, 161);
}

.input_search_bar{
  position: relative;
}

.icon_search_bar{
  position: absolute;
  right: 13px;
  top: 4px;
}

#watchVideo {
  width: 100%;
  height: 100%;
}

.titleVideoTruncate{
  max-width: 300px;
  word-wrap: break-word;
}

.img_watchvideo{
  max-width: 150px;
  max-height: 80px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.color-title-videos{
  color: rgb(23, 152, 212);
  font-size: 1.4rem;
  margin: auto;
  margin-left: 15px;
}
.related-video{
  padding: 18px;
  transition: all 0.5s;
}

.related-video:hover{
  transform: scale(1);
  cursor: pointer;
  background-color: rgb(128, 128, 128);
  border-radius: 12px;
}

.currentVideo {
  padding: 12px;
  transform: scale(1.00001);
  cursor: pointer;
  background-color: rgb(151, 150, 150);
  border-radius: 12px;
}

#frameVideo{
	height: auto;
  background-color: rgb(128, 128, 128);
  border: 20px solid rgb(128, 128, 128);
  /* border-radius: 22px; */
  box-shadow: 2px 2px 21px 2px black;
}

#frameCodelive{
  height: 100%;
  transition: all 1s;
}

span.title-videos-content{
  font-size: 21pt;
}
.btn-like {
  transition: all 0.5s;
}
.btn-like:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.word-wrap{
  word-wrap: break-word;
  max-width: 600px;
}

.trans {
  transition: all 0.1s;
}

.trans:hover {
  transform: scale(1.05);
}

.fullLoading {
  width: 100vw;
  height: 100vh;
  padding-bottom: 10rem!important;
}

.modalProfile {
  margin-top: 130px;
}

.background-color-modal {
  background-color: rgb(51, 51, 51);
}

/* EXPAND LISTS PLAYLISTS*/
#expandListsPlaylist {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: -9.05px;
  top: 100px;
  z-index: 9998;
  opacity: 0.9;
  transition: linear 0.2s;
}

#renderList {
  position: absolute;
  transition: linear 0.2s;
  background-color: rgb(51, 51, 51);
  width: 100%;
  overflow: hidden;
  /* transition: all 1s; */
  /* border-radius: 15px; */
}

#expandListsPlaylist:hover {
  opacity: 1;
  cursor: pointer;
}

/* MODAL PROFILE */
.modal-content {
  border-radius: 13px !important;
}

.ModalRadius{
  border-radius: 11px;
  box-shadow: 1px 2px 51px -1px #000000;
}

.avatarModal{
  border-radius: 50%;
  object-fit: cover;
}

.textNameModal{
  font-size: 21px;
}

.textFunctionModal{
  font-size: 15px;
  padding-left: 6px;
}

.textFunctionModal p:hover {
  cursor: pointer;
  color: rgb(28, 100, 155);
}

.colorPar{
  color: rgb(63, 166, 242);
}

#ListClass ul{
  list-style: none;
  padding-left: 13px;
}

#ListClass ul li{
  color: rgb(0, 113, 185);
  font-size: 1.1rem;
}

#ListClass ul li:hover{
  cursor: pointer;
  text-decoration-line: underline;
}

.position-relative.form-group label{
  color: whitesmoke;

}