.form-login {
  width: 380px;
  height: 470px;
  max-height: 470px;
  max-width: 380px;
  box-shadow: 1px 2px 18px 7px rgb(41, 41, 41);
  padding: 20px;
  color: rgb(255, 255, 255);
  background-color: rgb(128, 128, 128);
  border-radius: 2%;
}

.bg-login {
  background-color: rgb(77,77,77);
}

input.form-check-input {
  position: relative;
  left: 0;
  margin: 0;
  border: 1px black solid;
}

input.form-control {
  border: 1px black solid;
  border-radius: 0px;
}

input.form-check-input {
  margin-top: 8px;
}

.login {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-login {
  background-color: rgb(23, 152, 212);
  width: 35%;
  border-radius: 11px;
  box-shadow: 2px 2px 11px 1px rgb(41, 41, 41);
}
